.qc-kreen {
	width : 100%;
	font-size: 34px;
  margin: 10px;
  padding: 20px;
  border-left: 15px solid gray;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.445);
	position: relative;
	line-height: 50px;
}
.qc-kreen::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    content: '\201C';
    font-size : 10rem;
    color: rgb(166, 255, 0);
    position: absolute;
    top: 0;
    margin-top: 0px;
}
.qc-kreen::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    content: '\201D';
    font-size : 10rem;
    color: rgb(166, 255, 0);
    position: absolute;
    bottom: -60px;
    right : 40px;
    margin-top: 0px;
}
.qc-vlue {
  width : 100%;
  font-size: 34px;
  margin: 10px;
  padding: 20px;
  border-left: 15px solid rgb(119, 0, 255);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.445);
  position: relative;
  line-height: 50px;
}
.qc-vlue::before {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 55px;
   height: 55px;
   line-height: 85px;
   content: '\201C';
   font-size: 4em;
   color: rgb(133, 255, 174);
   position: absolute;
   top: 0px; 
  }
.qc-vlue::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55px;
  height: 55px;
  line-height: 85px;
  content: '\201D';
  color: rgb(133, 255, 174);
  font-size: 4em;
  position: absolute;
  bottom: -50px;
  right : 40px;
}

.qc-led {
  width : 100%;
  font-size: 34px;
  margin: 10px;
  padding: 20px;
  border-left: 15px solid rgb(255, 0, 0);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.445);
  position: relative;
  line-height: 50px;
}
.qc-led::before {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 55px;
   height: 55px;
   line-height: 85px;
   content: '\201C';
   font-size: 4em;
   color: rgb(255, 137, 137);
   position: absolute;
   top: 0;
}
.qc-led::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55px;
  height: 55px;
  content: '\201D';
   font-size: 4em;
   color: rgb(255, 137, 137);
  position: absolute;
  bottom: -60px;
  right : 40px;
  margin-top: 0px;
}
