@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

$root-font-size : 30px;
$qfont-size : 2.0rem;
$header-font-size : 1.8rem;
$qtext-align-center : center;
$header-font-family :'Hi Melody', cursive;
$qfont-family : 'Nanum Pen Script', cursive;
$root-line-height : 2.3rem;

$h1-size : 2.4rem !default;
$h2-size : 2.0rem;
$h3-size : 1.6rem;
$h4-size : 1.3rem;
$h5-size : 1.0rem;
$h6-size : 0.8rem;

